body {
    background-image: url('../img/reg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

body:before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.3);
}

 .link {
    position: absolute;
    top: 5rem;
    left: 5rem;
}

.link > a {
    text-decoration: none;
    color:  #FFF5EE;
    font-size: 25px;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

form {
    color: #191970;
    padding: 4rem;
    background-color: #FFF0F5;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.7);
    border-radius: 20px;
}

input[type="text"],
input[type="password"] {
    border-style: none;
    outline-style: none;
    background-color: transparent;
    border-bottom: 2px solid #123C69;
    border-radius: 0;
    padding: 7px 10px 5px 50px;
}

form div {
    position: relative;
}

input[type="text"]:focus,
input[type="password"]:focus {
    padding-left: 0;
    border-bottom-color: DarkSlateGray;
    padding-right: 40px;
}

.custom {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.custom+label {
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.custom+label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    border: 1px solid #adb5bd;
    border-radius: .25em;
    margin-right: .5em;
    margin-top: 5px;
}

.custom:focus+label::before {
    box-shadow: 0 0 0 0.1em rgba(0, 123, 255, 0.25);
    content: '\2713';
    text-align: center;
    font-size: 15px;
    vertical-align: middle;
}

.sing {
    width: 300px;
    height: 30px;
    background-color: #BC8F8F;
    color: rgb(237, 231, 246);
    text-align: center;
    box-shadow: 0 10px 10px rgba(0,0,0,0.22);
}

.back {
    display: none;
}

@media screen and (max-height: 700px) {

    .link {
        display: none;
    }

    .back {
        display: block;
        margin-top: 2rem;
        text-align: center;

    }

    .back > a {
        text-decoration: none;
        color:  #BC8F8F;
        font-size: 20px;
        box-shadow: 0 10px 10px rgba(0,0,0,0.22); 
        padding-left: 2rem; 
        padding-right: 2rem;
        padding-top: .5rem; 
        padding-bottom: .5rem;
    }
}

@media screen and (max-height: 400px) {
    .scroll-elem {
       height: 300px;
       overflow-y: scroll;
       scroll-behavior: smooth;
    }

    .scroll-elem::-webkit-scrollbar {
       width: 10px;
    }

    .scroll-elem::-webkit-scrollbar-thumb {
       background-color: #efd0bc;
       border-radius: 5px;
    }
}

